.wrapper {
   width: 100%;
   max-height: min((100vh - 96px) - 60px, 734px);
   min-height: 100px;
   background: rgb(255, 255, 255);
   border-radius: 8px;
   padding-top: 8px;
   overflow-y: auto;
   &::-webkit-scrollbar {
      width: 15px;
   }

   &::-webkit-scrollbar-track {
      background: var(--white);
      border-left: 1px solid var(--cultured);
   }

   &::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 80%);
      border: 3px solid var(--white);
      border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb:hover {
      background: hsl(0, 0%, 70%);
   }
}
