/*
    PAGE SINGLE
*/
.circle {
   position: absolute;
   top: -15px;
   left: 0;
   width: 30px;
   height: 30px;
   border-radius: var(--percent50);
   background-color: var(--light-bg-color);
   z-index: -1;
}
.circle::before {
   content: '';
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: var(--percent50);
   background-color: var(--primary-color);
   bottom: 5px;
   right: 5px;
   opacity: 0.4;
}
.wrapper {
   padding: 0 20px;
   .single-product {
      margin-top: 30px;
      .breadcrumb {
         font-size: var(--fs-7);
         margin-bottom: 1em;
         li:not(:last-child)::after {
            content: '/';
            padding: 0 0.35em;
         }
         li:last-child {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
      .position-row {
         position: relative;
      }
      .products {
         :is(.swiper-button-next, .swiper-button-prev) {
            outline: 0;
            color: var(--primary-color);
            transition: var(--trans-background), transorm 0.3s;
            &::after {
               font-size: 1.5em;
            }
         }
         .big-image {
            &:hover {
               .swiper-button-next {
                  transform: translateX(10px);
               }
               .swiper-button-prev {
                  transform: translateX(-10px);
               }
               :is(.swiper-button-next, .swiper-button-prev) {
                  background-color: var(--primary-color);
               }
            }
         }
         &.one {
            :where(.big-image, .small-image) {
               overflow: hidden;
               img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                  display: block;
               }
            }
            .custom-item {
               flex-direction: column;
            }
            .thumbnail-show {
               position: relative;
               width: 170px;
               height: 120px;
               overflow: hidden;
               margin: 0 2em 2em 0;
            }
            .big-image {
               position: relative;
               //    margin-bottom: 1em;
            }
            .price {
               .discount {
                  font-size: 0.8em;
                  font-weight: var(--fw7);
                  line-height: 1;
                  position: absolute;
                  top: 10px;
                  right: 20px;
                  padding: 0.6em;
                  z-index: 2;
                  background-color: var(--dark-color);
                  color: var(--white-color);
                  border-radius: var(--percent50);
                  margin: 0.5rem;
               }
               // display: flex;
               gap: 1em;
               align-items: center;
               flex-wrap: wrap;
               .current {
                  font-size: 2.5em;
               }
            }
            .showcase-status {
               margin-bottom: 15px;
               .wrapper {
                  padding: 0;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-box-align: center;
                  -webkit-align-items: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: var(--eerie-black);
                  font-size: var(--fs-6);
                  font-weight: var(--weight-400);
                  text-transform: uppercase;
                  margin-bottom: 10px;
               }
               .showcase-status-bar {
                  background: var(--cultured);
                  position: relative;
                  height: 10px;
                  -webkit-border-radius: 5px;
                  border-radius: 5px;
                  &::before {
                     position: absolute;
                     content: '';
                     top: 3px;
                     left: 3px;
                     height: 4px;
                     width: 40%;
                     background: var(--salmon-pink);
                     -webkit-border-radius: 4px;
                     border-radius: 4px;
                  }
               }
            }
            .available {
               font-size: var(--fs-8);
               font-weight: var(--fs-9);
               padding: 0.5em;
               margin-right: 1em;
               border-radius: 3px;
               color: #10ac84;
               background-color: var(--light-bg-color);
            }
            .add-review {
               color: var(--primary-color);
            }
            .variant {
               form {
                  display: flex;
                  margin-top: 0.5em;
                  p {
                     position: relative;
                     margin: 0 0.5em 0.5em;
                     input:checked + label {
                        background-color: var(--light-bg-color);
                        border: 3px solid var(--primary-color-blur);
                        color: var(--light-bg-color);
                        font-weight: bold;
                     }
                  }
               }
               input {
                  clip: rect(0, 0, 0, 0);
                  overflow: hidden;
                  position: absolute;
                  height: 0;
                  width: 0;
               }
               label::before {
                  opacity: 1;
               }
               label[for='cogrey']::before {
                  background-color: #576574;
               }
               label[for='coblue']::before {
                  background-color: #45a0ff;
               }
               label[for='cogreen']::before {
                  background-color: #1dd1a1;
               }
            }
            :where(.variant, .actions) .circle {
               display: block;
               position: static;
               top: 0;
               margin: 0;
               cursor: pointer;
               z-index: 1;
            }
            .mini-text {
               margin: 0 !important;
               font-weight: var(--fw7);
            }
            .icon-item {
               color: #f9c600;
            }
         }
         .sizes {
            .variant {
               form {
                  p {
                     input:checked + label::before {
                        background-color: var(--primary-color);
                        opacity: 1;
                     }
                  }
               }
               label {
                  color: var(--dark-color);
                  &::before {
                     background-color: var(--white-color);
                  }
                  span {
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     font-size: 0.85em;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
               }
            }
         }
         .actions {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2em;
            :where(input, button) {
               font-size: 1.25em;
               outline: 0;
               border: 0;
            }
            input {
               width: 50px;
               text-align: center;
               margin: 0 1em;
               border-radius: 3px;
            }
            .qty-control {
               width: fit-content;
               padding: 0.5em;
               border: 1px solid var(--cultured);
               margin: 0 2em 2em 0;
               button::before {
                  background-color: transparent;
               }
               margin: auto 50px auto 0;
            }
            .button-cart {
               flex: 1;
               min-width: 200px;
               button {
                  width: 100%;
                  cursor: pointer;
               }
            }
         }
         .wish-share {
            a {
               display: flex;
               align-items: center;
               text-transform: uppercase;
               font-weight: var(--fw7);
               margin: 1em 2em 1em 0;
               transition: var(--trans-color);
            }
            .icon-large {
               margin-right: 10px;
            }
         }
         .custom-collapse {
            .has-child {
               border-top: 1px solid var(--cultured);
            }
            .has-child > p {
               position: relative;
               font-weight: var(--fw8);
               text-transform: uppercase;
               padding: 0.5em 1.25em;
               cursor: pointer;
               &::before {
                  content: '+';
                  position: absolute;
                  left: 0;
               }
            }
            .content {
               margin: 0 0 0 2em;
               font-size: var(--fs-8);
               display: none;
               li {
                  span:first-child {
                     min-width: 100px;
                     display: inline-flex;
                     font-weight: var(--fw7);
                     text-transform: uppercase;
                  }
               }
            }
         }
         .descriptions {
            .description-item {
               padding: 10px;
               border: 1px solid var(--cultured);
               cursor: pointer;
               transition: 0.3s ease-in;
               margin-right: 20px;
               font-weight: var(--fw7);
               &:hover {
                  background-color: var(--primary-color);
                  color: var(--white-color);
               }
               &.active {
                  background-color: var(--primary-color) !important;
                  color: var(--white-color) !important;
               }
            }
         }
      }
      .breadcrumb-item {
         font-weight: var(--fw7);
         cursor: pointer;
         transition: 0.2s ease-in;
         &:hover {
            color: var(--primary-color);
         }
      }
      .color {
         margin-top: 10px;
      }
   }
   .product-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      gap: 25px;
   }
}
@media screen and (min-width: 480px) {
   /* Page single*/
   .products {
      &.one {
         .big-image {
            // margin-bottom: 2em;
         }
         .image-show {
            // height: 600px;
         }
         .thumbnail-show {
            height: 160px;
         }
      }
   }
   .product-grid {
      -ms-grid-columns: 1fr 30px 1fr !important;
      grid-template-columns: 1fr 1fr !important;
      gap: 20px !important;
   }
}
@media screen and (min-width: 768px) {
   .products {
      &.one {
         .custom-row {
            flex: 0 0 50%;
            width: 50%;
            padding: 0 0.938em;
         }
      }
   }
}
@media screen and (min-width: 1024px) {
   .product-grid {
      grid-template-columns: repeat(5, 1fr) !important;
   }
}
